{% extends 'back/master.html' %}

{% load static %}

{% block mainblock %}

			<!-- Begin Page Content -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<h1 class="h3 mb-2 text-gray-800">Error</h1>

				<!-- DataTales Example -->
				<div class="card shadow mb-4">
					<div class="card-body">
						<h3>{{error}}</h3>
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->

{% endblock %}

{% block footerblock %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'back/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'back/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'back/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'back/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'back/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'back/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'back/js/demo/datatables-demo.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'back/js/demo/datatables-demo.js' %}"></script>

{% endblock %}